# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# Back-end files
Kolibri-back-end/target/
Kolibri-back-end/kolibri.iml
Kolibri-back-end/.idea

# Front-end files
Kolibri-front-end/app/bower_components/
Kolibri-front-end/node_modules/
Kolibri-front-end/.idea