# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# Back-end files
Kolibri Back-end/target/
Kolibri Back-end/kolibri.iml
Kolibri Back-end/.idea

# Front-end files
Kolibri Front-end/app/bower_components/
Kolibri Front-end/node_modules/