<nav class="navbar navbar-default navbar-fixed-top">
    <div class="header-container">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href class="dropdown-toggle menu-gamburger" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- todo: remove comments from here -->
                    <li><a ui-sref="projects">Projects</a></li>    <!-- accessed by the current User -->
                    <li><a ui-sref="templates">Profile</a></li>    <!-- login, changing password -->
                    <li><a ui-sref="commits">Repositories</a></li> <!-- of the current User -->
                    <li><a ui-sref="settings">Users</a></li>       <!-- all - editing mode only for admin -->
                    <li><a ui-sref="settings">Templates</a></li>
                </ul>
            </li>
            <li><a class="brand" ui-sref="projects">Kolibri</a></li>
            <li ng-repeat="tab in $ctrl.tabs">
                <a ui-sref="{{tab.state}}">{{tab.name}}</a>
            </li>
        </ul>
    </div>
</nav>
