<nav class="navbar navbar-default navbar-fixed-top">
    <div class="header-container">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href class="dropdown-toggle menu-gamburger" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="projects">Projects</a></li>
                    <li><a ui-sref="templates">Templates</a></li>
                    <li><a ui-sref="commits">Commits</a></li>
                    <li><a ui-sref="settings">Settings</a></li>
                </ul>
            </li>
            <li><a class="brand" ui-sref="projects">Kolibri</a></li>
            <li ng-repeat="tab in $ctrl.tabs">
                <a ui-sref="{{tab.state}}">{{tab.name}}</a>
            </li>
        </ul>
    </div>
</nav>
