<div>
    <h2>Operations</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn btn-default btn-header" ng-click="newOperation()">New</button>
        </div>

        <table ng-table="tableParams" class="table table-bordered table-striped table-condensed align-center">
            <tr ng-repeat="operation in $data">
                <td class="icon-column">
                    <actions-list-component actions="operationsActions" parameter="operation.id"></actions-list-component>
                </td>

                <td data-title="'Accounts'" class="operations-accounts-column align-left">
                    <div ng-if="isIncomeOperation(operation)">
                        <span class="glyphicon glyphicon-plus income-color"></span>
                        {{operation.incomeAccount.name}}
                    </div>
                    <div ng-if="isExpendOperation(operation)">
                        <span class="glyphicon glyphicon-minus expend-color"></span>
                        {{operation.expendAccount.name}}
                    </div>
                    <div ng-if="isTransferOperation(operation)">
                        <p class="row-line">
                            <span class="glyphicon glyphicon-minus expend-color"></span>
                            {{operation.fromAccount.name}}
                        </p>
                        <p class="row-line">
                            <span class="glyphicon glyphicon-plus income-color"></span>
                            {{operation.toAccount.name}}
                        </p>
                    </div>
                </td>

                <td data-title="'Delta'" class="operations-delta-column money-bold">
                    <div ng-if="isIncomeOperation(operation)">
                        {{operation.resultMoneyAmount - operation.moneyAmount}}
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span>{{operation.resultMoneyAmount}}</span>
                    </div>
                    <div ng-if="isExpendOperation(operation)">
                        {{operation.resultMoneyAmount + operation.moneyAmount}}
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span>{{operation.resultMoneyAmount}}</span>
                    </div>
                    <div ng-if="isTransferOperation(operation)">
                        <p class="row-line">
                            {{operation.fromAccountResultMoneyAmount + operation.moneyAmount}}
                            <span class="glyphicon glyphicon-arrow-right"></span>
                            <span>{{operation.fromAccountResultMoneyAmount}}</span>
                        </p>
                        <p class="row-line">
                            {{operation.toAccountResultMoneyAmount - operation.moneyAmount}}
                            <span class="glyphicon glyphicon-arrow-right"></span>
                            <span>{{operation.toAccountResultMoneyAmount}}</span>
                        </p>
                    </div>
                </td>

                <td data-title="'Money'" class="operations-money-column money-bold">{{operation.moneyAmount}}</td>

                <td data-title="'Category'" class="align-left">
                    {{operation.operationCategory.name}}
                    <span ng-if="operationHasComment(operation)"
                          uib-popover="{{operation.comments[0].text}}" popover-trigger="'mouseenter'"
                          popover-placement="bottom" class="glyphicon glyphicon-menu-down"></span>
                </td>

                <td data-title="'Date'" class="operations-date-column">{{operation.operationDate | date : 'dd.MM.yyyy'}}</td>
            </tr>
        </table>
    </div>

</div>
