.operations-accounts-column {
    width: 25%;
}

.operations-delta-column {
    width: 18%;
}

.operations-money-column {
    width: 9%;
}

.operations-date-column {
    width: 15%;
}

.income-color {
    color: limegreen;
}

.expend-color {
    color: orangered;
}

.row-line {
    margin-bottom: 0;
}

.money-bold {
    font-weight: bold;
}
