<div>
    <dialog-template-component ng-dialog-id="ngDialogData.ngDialogId"
                               title-text="'New Operation'"
                               footer-buttons="footerButtons">
        <form class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-sm-5">Operation type:</label>
                <div class="col-sm-7">
                    <reference-selector-component model="data.operationType"
                                                  type="dataSet"
                                                  items="operationTypes"
                                                  placeholder="Choose Operation Type">
                    </reference-selector-component>
                </div>
            </div>

            <div class="form-group" uib-collapse="!isIncomeOperationChosen()">
                <label class="control-label col-sm-5">Income Account:</label>
                <div class="col-sm-7">
                    <account-selector-component model="data.incomeAccount"
                                                project-id="projectId">
                    </account-selector-component>
                </div>
            </div>

            <div class="form-group" uib-collapse="!isExpendOperationChosen()">
                <label class="control-label col-sm-5">Expend Account:</label>
                <div class="col-sm-7">
                    <account-selector-component model="data.expendAccount"
                                                project-id="projectId">
                    </account-selector-component>
                </div>
            </div>

            <div uib-collapse="!isTransferOperationChosen()">
                <div class="form-group">
                    <label class="control-label col-sm-5">From Account:</label>
                    <div class="col-sm-7">
                        <account-selector-component model="data.fromAccount"
                                                    project-id="projectId">
                        </account-selector-component>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">To Account:</label>
                    <div class="col-sm-7">
                        <account-selector-component model="data.toAccount"
                                                    project-id="projectId">
                        </account-selector-component>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-5">Money:</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control col-sm-7"
                           ng-model="data.moneyAmount"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-5">Category:</label>
                <div class="col-sm-7">
                    <category-selector-component model="data.operationCategory"
                                                 project-id="projectId">
                    </category-selector-component>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-5">Comment:</label>
                <div class="col-sm-7">
                    <textarea class="form-control" rows="4" ng-model="data.comment"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-5">Date:</label>
                <div class="col-sm-7">
                    <date-picker-component model="data.operationDate"></date-picker-component>
                </div>
            </div>

        </form>
    </dialog-template-component>
</div>
