<div>

    <div class="dialog-template-header">
        <h3 class="dialog-template-title">{{$ctrl.title}}</h3>
    </div>

    <div class="dialog-template-body">
        <ng-transclude></ng-transclude>
    </div>

    <form class="form-inline dialog-template-footer">
        <div class="form-group" ng-repeat="footerButton in $ctrl.footerButtons">
            <button type="button" class="btn btn-default form-control dialog-template-footer-button"
                    ng-click="footerButton.resultCallback()">
                {{footerButton.name}}
            </button>
        </div>
        <div class="form-group" ng-if="$ctrl.showCloseButton">
            <button type="button" class="btn btn-default form-control dialog-template-close-button"
                    ng-click="closeDialog()">
                {{$ctrl.closeButtonText}}
            </button>
        </div>
    </form>

</div>
