.header-container {
  margin-left: 16%;
  margin-right: 16%;
}

.menu-gamburger {
  margin-top: 2px;
  margin-bottom: 3px;
}

.brand {
  font-size: large;
}

.body-container {
    margin-left: 16%;
    margin-right: 16%;
}

.ng-table-pager {
    padding: 8px;
    height: 50px;
}

.panel > .table-bordered {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #ddd;
}
